#tasks{
  display: flex;
  justify-content: space-around;
  padding: 16px;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: grey;
  padding: 16px;
}

.login_register_forms {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#quote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

#reset {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

#report {
  display: flex;
  flex-direction: column;
  align-items: centre;
  flex: 1;
}

#mood {
  display: flex;
  justify-content: space-around;
}

