#tasks{
  display: flex;
  justify-content: space-around;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: grey;
  padding: 16px;
}

.login_register_forms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}