{% extends "layout.html" %}

{% block title %} Home {% endblock%}

{% block main %}
<div>
    
</div>

<div id="tasks">
  
    <div>
      <h2>To do:</h2>
      <form action="/" method="post">
        <input autocomplete="off" type="text" name="task" placeholder="New task">
        <button type="submit">+</button>
        <ol>
          {% for task in tasks %}
            <li>{{ task[0] }}</li>
          {% endfor %}
        </ol>
      </form>
    </div>

    <div>
      <h2>Doing:</h2>
      
    </div>

    <div>
      <h2>Done:</h2>
    </div>

</div>
{% endblock %}