{% extends "layout.html" %}

{% block title %} Home {% endblock%}

{% block main %}
<div>
    
</div>

<div id="tasks">
  
    <div>
      <h3> To do: </h3>
      <form action="/" method="post">
        <input autocomplete="off" type="text" name="task" placeholder="New task">
        <button type="submit">+</button>
      </form>

      <form action="/" method="post">
        <ol id="to_do">
          {% for task in tasks %}
            <li>
              <button name="btn_to_do" value="{{ task[0] }}">
                {{ task[0] }}
              </button>
            </li>
          {% endfor %}
        </ol>
      
    </div>

    <div>
      <h2>Doing:</h2>
      <form action="/" method="post">
        <ol id="doing">
          {% for task in doing %}
            <li>
              <button name="btn_doing" value="{{ task[0] }}">
                {{ task[0] }}
              </button>
            </li>
          {% endfor %}
        </ol>
      </form>
    </div>

    <div>
      <h2>Done:</h2>
      <form action="/" method="post">
        <ol id="done">
          {% for task in done %}
            <li>
              <button name="btn_done" value="{{ task[0] }}">
                {{ task[0] }}
              </button>
            </li>
          {% endfor %}
        </ol>
      </form>
    </div>

</div>
{% endblock %}