<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}Productivity App{% endblock %}
  </title>
  <style>
  </style>
 
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/mood">Mood</a></li>
        <li><a href="/report">Report</a></li>
      </ul>
      <a href="/">Home</a>
    </nav>
  </header>
  <main>
    {% block main %}{% endblock %}
  </main>
  <footer></footer>
</body>
</html>