{% extends "layout.html" %}

{% block title %} Log In {% endblock %}
{% block main %}
    <div class="container">
    <form class="login_register_forms" action="/login" method="post">
        <input autocomplete="off" name="username" placeholder="Enter username" type="text"/>
        <input autocomplete="off" name="password" placeholder="Enter password" type="password"/>
        <button type="submit">Login</button>
        <p>Register here if you haven't already <a href = "/register"> Register </a></p>
    </form>
    </div>
{% endblock %}