{% extends "layout.html" %}

{% block title %} Mood based tasks {% endblock %}

{% block main %}
    <p> Unlocked! </p>
    <form action="/mood" method="post" id="mood">
        <div>
            <button name="happy" type="submit" value="Happy">
                Happy 
            </button>
            <p>Energetic, positive, motivated</p>

            <button name="focused" type="submit" value="Focused">
                Focused
            </button>
            <p>Concentrated, ready to study/work</p>

            <button name="creative" type="submit" value="Creative">
                Creative 
            </button>
            <p>Inspired, ideas flowing, artsy</p>
        </div>

        <div>
            <button name="calm" type="submit" value="Calm">
                Calm
            </button>
            <p>Relaxed, peaceful, low stress</p>

            <button name="tired" type="submit" value="Tired">
                Tired
            </button>
            <p>Low energy, needs rest or light tasks</p>

            <button name="stressed" type="submit" value="Stressed">  
                Stressed
            </button>
            <p>Overwhelmed, tasks feel heavy</p>   
        </div>
    </form>
{% endblock %}