{% extends "layout.html" %}

{% block title %} Mood based tasks {% endblock %}

{% block main %}
    <p> Unlocked! </p>
    <form action="/mood" method="post" id="mood">
        <div>
        <input name="happy" type="submit" value="Happy">
        <p>Energetic, positive, motivated</p>
        <input name="focused" type="submit" value="Focused">
        <p>Concentrated, ready to study/work</p>
        <input name="creative" type="submit" value="Creative">
        <p>Inspired, ideas flowing, artsy</p>
        </div>
        <div>
        <input name="calm" type="submit" value="Calm">
        <p>Relaxed, peaceful, low stress</p>
        <input name="tired" type="submit" value="Tired">
        <p>Low energy, needs rest or light tasks</p>
        <input name="stressed" type="submit" value="Stressed">  
        <p>Overwhelmed, tasks feel heavy</p>   
        </div>
    </form>
{% endblock %}