{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block main %}
<div class="container">
    <form class="login_register_forms" action="/register" method="post">
        <input autocomplete="off" name="username" placeholder="Enter username" type="text"/>
        <input autocomplete="off" name="password" placeholder="Enter password" type="password"/>
        <input autocomplete="off" name="confirmation" placeholder="Confirm password" type="password"/>
        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}